# docker services (service names are hard coded in docker-compose.yml)
PG_DB_SERVICE = 'postgres'
MDB_SERVICE = 'mongodb'
TET_API_SERVICE = 'tet_api'
TET_PY_PACKAGES_SERVICE = 'tet_py_packages'

# postgres
PG_DB_USER = 'postgres'
PG_DB_PORT = 5432
PG_DB_PORT_EXP = 5433
PG_DB_PASSWORD = 'postgrespw'
PG_DB_NAME = 'securities_db'

# mongo db
MDB_USER = 'root'
MDB_PASSWORD = 'rootpassword'
MDB_PORT = 27017
MDB_PORT_EXP = 27018
ATLAS_MONGO_DB_URL = 'mongodb+srv://. . .:. . .@. . ..rfnsm.mongodb.net/?retryWrites=true&w=majority'
#LOCALHOST_MONGO_DB_URL='mongodb://localhost:27017/'
#LOCALHOST_MONGO_DB_URL = 'mongodb://root:rootpassword@mongodb:27017/'
LOCALHOST_MONGO_DB_URL = f'{MDB_SERVICE}://{MDB_USER}:{MDB_PASSWORD}@{MDB_SERVICE}:{MDB_PORT}/'
SYSTEMS_DB = 'systems_db'
INSTRUMENTS_DB = 'instruments_db'
TIME_SERIES_DB = 'time_series_db'
CLIENT_DB = 'client_db'

# api's
API_URL = '/api'
TET_API_PORT = 4001
TET_API_PORT_EXP = 4000

# securities db py dal
API_HOST = TET_API_SERVICE
API_PORT = TET_API_PORT
DAL_LOG_FILE_PATH = '/app/securities_db_py_dal/logs/'
DAL_LOG_FILE_PATH_CRITICAL = '/app/securities_db_py_dal/logs/'

# frontend
FRONTEND_PORT = 3000

LIVE_SYSTEMS_DIR = 'tet_py_packages/tet_trading_systems/tet_trading_systems/trading_system_development/trading_systems/live_systems'
LIVE_SYSTEMS_DIR_TARGET = 'app/tet_trading_systems/tet_trading_systems/trading_system_development/trading_systems/live_systems'

TS_HANDLER_DIR_TARGET = '/app/tet_trading_systems/tet_trading_systems/trading_system_development/trading_systems'
LIVE_SYSTEMS_RELATIVE_DIR = 'live_systems'