# docker services
PG_DB_SERVICE = 'postgres'
MDB_SERVICE = 'mongodb'
STONKINATOR_API_SERVICE = 'stonkinator_api'
STONKINATOR_SERVICE = 'stonkinator'

# postgres
PG_DB_USER = 'postgres'
PG_DB_PORT = 5432
PG_DB_PORT_EXP = 5433
PG_DB_PASSWORD = 'postgrespw'
PG_DB_NAME = 'stonkinator'

# mongo db
MDB_USER = 'root'
MDB_PASSWORD = 'rootpassword'
MDB_PORT = 27017
MDB_PORT_EXP = 27018
ATLAS_MONGO_DB_URL = 'mongodb+srv://. . .:. . .@. . ..rfnsm.mongodb.net/?retryWrites=true&w=majority'
#LOCALHOST_MONGO_DB_URL='mongodb://localhost:27017/'
#LOCALHOST_MONGO_DB_URL = 'mongodb://root:rootpassword@mongodb:27017/'
LOCALHOST_MONGO_DB_URL = f'{MDB_SERVICE}://{MDB_USER}:{MDB_PASSWORD}@{MDB_SERVICE}:{MDB_PORT}/'
SYSTEMS_DB = 'systems_db'
INSTRUMENTS_DB = 'instruments_db'
TIME_SERIES_DB = 'time_series_db'
CLIENT_DB = 'client_db'

# api
API_URL = '/api'
STONKINATOR_API_PORT = 4001
STONKINATOR_API_PORT_EXP = 4000

# securities db py dal
API_HOST = STONKINATOR_API_SERVICE
API_PORT = STONKINATOR_API_PORT
DAL_LOG_FILE_PATH = '/var/log/stonkinator/'
DAL_LOG_FILE_PATH_CRITICAL = '/var/log/stonkinator/'

# frontend
FRONTEND_PORT = 3000

LIVE_SYSTEMS_DIR = 'stonkinator/stonkinator/trading_systems/trading_system_development/trading_systems/live_systems'
LIVE_SYSTEMS_DIR_TARGET = 'app/stonkinator/trading_systems/trading_system_development/trading_systems/live_systems'
TS_HANDLER_DIR_TARGET = '/app/stonkinator/trading_systems/trading_system_development/trading_systems'
LIVE_SYSTEMS_RELATIVE_DIR = 'live_systems'
