
.page-navigation {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.page-navigation-item {
  color: #bbb;
  cursor: pointer;
}
.page-navigation-item--selected {
  text-decoration: underline;
}