body, html {
    background-color: #1b212b;
    margin: 0;
    padding: 0;
    min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 0;
    padding: 0;
}

h5 {
    text-align: center;
}

#root {
  height: 100vh;
}

.trading-systems-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 58px);
  }

.trading-systems-wrapper {
  display: flex;
}
  
.trading-systems-selector-wrapper {
  flex: 1;
  display: flex;
  padding: 10px;
}

.trading-systems-history-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.trading-systems-card {
    flex: 1;
}

.trading-systems-upper-container {
    height: 50%;
    display: flex;
}

.trading-systems-lower-container {
  flex-basis: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}