body, html {
    background-color: #2a3236;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

main {
    background-color: #2a3236;
    margin: 0;
    padding: 0;
}

.header-link {
    text-decoration: none;
}

.header-link-div {
    font-size: 20px;
    color: rgb(184, 184, 184);
}

.header-link-div:hover {
    cursor: pointer;
    font-weight: bold;
}

.side-bar {
    padding: 5px;
    padding-top: 20px;
    left: 0;
    width: 200px;
    background-color: #1a1c1f;
    color: rgb(184, 184, 184);
    box-sizing: border-box;
}

.side-bar-list-item {
    font-size: 16px;
    color: rgb(184, 184, 184);
}

.side-bar-list-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #1a1c1f;
    background-color: #1a1c1f;
    font-size: 14px;
    color: rgb(184, 184, 184);
    cursor: pointer;
    outline: none;
    text-align: center;
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select:hover,
.custom-select:focus {
    border-color: #007BFF;
}

.trading-systems-container {
    display: flex;
    min-height: 100vh;
}

.trading-systems-card {
    flex: 1;
}

.trading-systems-upper-container {
    height: 50%;
    display: flex;
    border: 1px solid black;
}

.trading-systems-lower-container {
    height: 50%;
    display: flex;
    border: 1px solid black;
}

.trading-system-history-wrapper {
    flex: 1;
    height: 100%;
    border: 1px solid black;
}

.position-history-wrapper {
    flex: 2;
    height: 100%;
    border: 1px solid black;
}

.latest-position-wrapper {
    flex: 1;
    height: 100%;
    border: 1px solid black;
}

.trading-system-history-container {
    height: 100%;
}

.position-history-container {
    height: 100%;
}

.latest-position-container {
    height: 100%;
}