
.select-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.select-label {
  color: #eee;
  margin-bottom: 5px;
  font-size: 14px;
}

.select {
  padding: 5px;
  font-size: 12px;
}

.select-option {
  font-size: 12px;
}